:root {
    --bege: #FFCC70;
    --branco: #FFFADD;
    --azul: #22668D;
    --azul-claro: #8ECDDD;
    --preto: #000000;
    --verde: #65B741;
    --fonte: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: var(--bege);
    font-family: var(--fonte);
}
